{% extends "blog/base.html"%} 

{% block title %}Business{% endblock%}
{% block content %}
<section class = "container">
{% for post in posts %}
<h1><a href="{% url 'post-detail' post.id %}">{{post.title}}</a></h1>
<p>By {{post.author}} on {{post.date_posted}}</p>
<p>{{post.content}}</p>
{% endfor %}
</section>

<section class ="container">
   <div>
    <section>
      <a href="{% url 'post-create' %}">Click here to create post</a>
    </section>
   </div>
</section>
{% endblock %}

{% block footer%}

{% endblock%}